<section class="eleven columns offset-by-one accommodation">

	<div class="row">

		<div class="five columns">

			<h2>How are furnished the houses?</h2>
			<hr class="light">
			<ol>
				<li>The houses are equipped with everything to meet your needs.</li>
				<li>Kitchens have a fridge, microwave and washing machine.</li>
				<li>You’ll also find an iron and ironing board, professional vacuum cleaner and everything you could want for household cleaning (except a cleaning lady).</li>
				<li>Bathrooms are equipped with mirrors, curtains and non-slip shower mats.</li>
				<li>Purple Stone Rooms proprieties equipped accommodation.</li>
				<li>Hot water and central heating are there to guarantee our tenants every comfort over the cold London nights.</li>
				<li>A general problem of the city is low water pressure and because of that additional equipment has been installed to increase the water pressure.</li>
			</ol>

			<hr>
			<br />

			<h2>How many people live in?</h2>
			<hr class="light">
			<p>Every room can be occupied by 1 or 2 people maximum. We guarantee the tenants a friendly atmosphere, and common areas are treated with respect.
			<br />
			Our tenants are young students or professionals in their twenties. We always try to keep a balance between men and women within a house.</p>
	 
			<hr>
			<br />

			<h2>Locations</h2>
			<hr class="light">
			<p>All our properties are located in East London, Zone 2. The houses are a short walking distance from tube stations and bus stops and close to local amenities, such as supermarkets, shopping centres and local shops.
			<br />
			Areas we cover:</p>
			<ol>
				<li>Westferry / Canary Wharf</li>
				<li>Shadwell</li>
				<li>Limehouse</li>
				<li>Stepney Green</li>
				<li>Mile End</li>
				<li>Bow</li>
				<li>East India</li>
				<li>Poplar</li>
				<li>Bethnal Green</li>
			</ol>
	 
	 		<hr>
	 		<br />

			<h2>Bills</h2>
			<hr class="light">
			<p>The rental price of each room includes all the bills. That means that you don’t have to pay any extra for electricity, gas, water, council tax, internet and TV licence.
			<br />
			All Purple Stone Rooms properties have energy saving bulbs and our heating systems are carefully and systematically checked and calibrated to guarantee efficient energy consumption.</p>

		</div>

		<div class="three columns offset-by-one">
			
			<h2>What does Purple Stone Rooms do?</h2>
			<hr class="light">
			<p>We give you all the support you need in choosing an accommodation that best matches your requirements and needs.
			<br />
			We now have about a hundred rooms in the historic East End of London (Transport Zone 2), within easy walking distance to bus stops and tube stations and simple access to the City centre.
			<br />All of our clients have the benefit of 2 free English lessons and 1 hour free consultation on how to find a job in London.</p>

			<hr>
			<br />

			<h2>Purple Stone Rooms Team</h2>
			<hr class="light">
			<p>Purple Stone Rooms has a young, helpful and friendly team trained to help and assist you with all you need to know about settling in London. Feel free to contact any of us regarding any issue, we also came here and have a lot of experience.</p>

			<hr>
			<br />

			<h2>Leaders</h2>
			<hr class="light">
			<p>Purple Stone Rooms is a company leader for providing accommodation services for young people, especially from European countries. Our customer's main aim is to improve their English skills over their stay before going back home, where they can easily break into the job market. The company has several ways to help make that happen.</p>
	 
			<hr>
			<br />

			<h2>How are Purple Stone Rooms' rooms?</h2>
			<hr class="light">
			<p>Our rooms are fully furnished with all utilities to make you feel at home. They’ve all got a desk, chair, reading lamp, wardrobe, bed, mirror and curtains. Some of our double/twin rooms have a TV with 900 channels!
			<br />
			Fast wireless unlimited broadband.</p>
	 
		</div>

	</div>

</section>

