<section class="eight columns offset-by-two chooseus">

	<div class="row">

		<div class="">

			<h2>Excellent customer service</h2>
 			<hr class="light">

 			<p>Purple Stone Rooms rely on a young, qualified and specialized staff who will always do their best to make you feel at home.
 			<br />
 			Our team is friendly and helpful, and understand the difficulties of moving abroad.
 			<br />
 			Once you notify us about any problem you have in your house, we will fix it as fast as lightning. We are proud that 90% of any problems are fixed within 24 hours.</p>

 			<hr>
			<br />

			<h2>Accomodation benefits</h2>
			<hr class="light">

			<ol>
				<li>Fully furnished rooms.</li>
				<li>All bills included.</li>
				<li>Houses located in Zone 2, close to tube stations and bus stops.</li>
				<li>Transactions and rent payment by bank account.</li>
				<li>Great living environment to make yourself feel at home.</li>
				<li>Make new friends from different countries for share common interests, experiences, study paths and growth.</li>
			</ol>
			<h4>Purple Stone Rooms proprieties equipped accommodation</h4>
			<p>Additional services, like our English language school, help you settle in quickly and help you meet hundreds of people to share unforgettable moments in one of the most important cities in the world.</p>
	 
			<hr>
			<br />

			<h2>Purple Stone Rooms house benefits</h2>
 			<hr class="light">

 			<h4>Fully furnished</h4>
 			<p>Efficient energy system installed to decrease consumption and at the same time protect the environment.
 			<br />
 			In case of a router on the blink in your house, you will never be without broadband connection, regardless of the needed time to fix it.
 			<br />
 			The company sets up extra-emergency wireless routers which will guarantee you internet connection through the mobile network.
 			<br />
 			If there is ever a heating problem, we have electric heaters for every single property and they are provided as soon as we’re notified of the problem by e-mail.</p>

			<hr>
			<br />

			<h2>Purple Stone Rooms house benefits</h2>
 			<hr class="light">

 			<h4>House Upkeep</h4>
 			<p>All our fire alarms are regularly tested and monitored.
 			<br />
 			We make sure the houses are clean and that everyone follows the cleaning system.
 			<br />
 			Our team is in direct contact with tenants to be sure that everything is working properly.</p>

		</div>

	</div>

</section>
