<section class="eight columns offset-by-two chooseus">

	<div class="row">

		<div class="">

			<h2>Purple Stone Rooms clients</h2>
 			<hr class="light">

 			<p>Our clients are young people between 20 and 30 years old. Most of us come from European countries to live in London to work, study, and improve our English. Plus having a new experience in one of the biggest, most important, and exciting cities in the world!</p>

 			<hr>
			<br />

			<h2>Which countries?</h2>
 			<hr class="light">

 			<p>Most of our tenants come from Europe and the majority are from France, Italy, Belgium, UK, Holland, Germany, Portugal and Spain.
 			<br />
 			We also offer accommodation to anyone coming to London to enrol for University, such as students from South Africa, USA, Canada, South Korea, Japan and China.</p>

 			<hr>
			<br />

			<h2>What are the objectives?</h2>
 			<hr class="light">

 			<p>The main goal of our customers is to learn and improve their English level.
 			<br />
 			We try to mix different nationalities in each property, so the tenants can improve their language skills by practicing at home.
 			<br />
 			(However this depends on availability.)
 			<br />
 			Living in a cosy and friendly environment is one of the most important aims of Purple Stone Rooms.</p>

 			<hr>
			<br />

			<h2>Social networks</h2>
 			<hr class="light">

 			<p>Purple Stone Rooms community, which includes ex and current tenants, keep in touch through online social networks.
 			<br />
 			Tenants are welcome to share pictures and videos on our social network pages about their experiences (or parties!) in each of the following social networks: Facebook, Twitter, YouTube, Our blog...
 			<br />
 			Mr. Herades Sardinas (Harry) Purple Stone Rooms General Director is really grateful to former and current tenants for their help and collaboration in the creation of the web page. Their videos and pictures show the good times we’ve had so far!!! We won’t forget Harry!</p>

 			<hr>
			<br />

 			<h2>About London</h2>
 			<hr class="light">

 			<p>Buckingham Palace, The London Eye, the West end theatres and musicals, the literature, the music, not to mention the famous Portobello Market, the incredible Camden Town and Brick Lane markets, the National Gallery and Tate Modern – the list goes on and on and on...
 			<br />
 			The cosmopolitan atmosphere reaches its peak in July with around 10 million visitors living in perfect harmony with the multitude of different cultures that is modern London.
 			<br />
 			The thing that makes London different form the other European cities is its alternative character.
 			<br />
 			From the architectural point of view, the City merges the traditional with the innovative and revolutionary, such as the Lloyd’s building, designed by the British architect Richard Rogers, or Norman Foster’s famous Gherkin.</p>

 		</div>

 	</div>

 </section>


 

 

 
 

 

 
