
<div class="eight columns offset-by-two contact">

	<h2><%= t('.title_html') %></h2>
	<h4><%= t('.subtitle') %></h4>

	<div>
		<%= render "form" %>
	</div>

	<div class="map">

		<iframe width="620" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=214869150950037271653.0004ed1bb4c69424518b2&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;ll=51.515533,-0.071524&amp;spn=0,0&amp;output=embed"></iframe><br /><small>Ver <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=214869150950037271653.0004ed1bb4c69424518b2&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;ll=51.515533,-0.071524&amp;spn=0,0&amp;source=embed" style="color:#0000FF;text-align:left">Purple Stone Group</a> en un mapa más grande</small>

	</div>

</div>