<section class="eight columns offset-by-two">

	<div class="post_details">
		<h2><%= @post.title %></h2>
		<%= image_tag @post.image(:header), class: "post_image" %>
		<p><%= @post.body %></p>
	</div>

</section>
