<section class="eight columns">

	<% @category.posts.each do |post| %>

		<div class="post_details">
			<h2><%= link_to post.title, category_post_path(@category, post) %></h2>
			<%= image_tag post.image(:header), class: "post_image" %>
			<p><%= truncate post.body, length: 100 %></p>
		</div>

	<% end %>

</section>

<section class="four columns">

<%= render :partial => 'shared/categoriesmenu' %>

</section>